#navbar {
    overflow: hidden;
    background-color: lightblue;
    padding: 6px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;


}

#navbar a,
#logo {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
}

#logo {
    font-size: 17px;
    font-weight: bold;
    transition: 0.4s
}

#navbar a:hover {
    background-color: #8475fa;
    color: black;
}


#navbar-right {
    float: right;
}

.header {
    background-image: url('https://wallpapercave.com/wp/wp9393115.jpg');
    /* covers the entire header */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 240px;

    /* centering text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    flex-direction: column;
    color: rgb(160, 89, 89);
}


.display-name {
    font-size: 48px;
    /* removes default h1 margin */
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Abril Fatface', cursive;
}

.sub-title {
    font-size: 21px;
    /* removes default h4 margin */
    margin: 0;
    font-weight: 300;
}

.buttons {
    margin: 20px;
}

.option-one {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #223057;
    color: #fff;
    border: none ridge;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bitcount Single", systen-ui;
}

.option-one:hover {
    background-color: #9A1316;
}

/* .option-one {
    background-color: transparent;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */


html {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

html,
body {
    margin: 0;
    padding: 0;

}

.about-me {
    /* margin-top: 0px; */
    background-color: #FFC198;
    /* align-items: center; */
    padding: 4rem 8%;
    margin: 0;
}

.about-content {
    display: flex;
    /* lines up top of text and image */
    align-items: flex-start;
    /* space between text and image */
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.hobbies-content {
    display: flex;
    /* lines up top of text and image */
    align-items: flex-start;
    /* space between text and image */
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.about-content img {
    height: auto;
    width: 300px;
    border-radius: 50%;
    border: 15px #FFE100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    /* prevents image from shrinking */
    flex-shrink: 0;
}

.goals {
    /* margin-top: 0px; */
    background-color: #5cb2af;
    /* background-color: rgb(108, 193, 224); */
    /* align-items: center; */
    gap: 1.5rem 8% 3rem 8;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 120px;

}

.goals-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.goals-text p {
    font-size: 18px;
    text-align: left;
    /* removes default top margin */
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    flex: 1;
}

.goals-content img{
    height: auto;
    width: 200px;
    /* prevents image from shrinking */
    flex-shrink: 0;
    
}

.knowledge {
    background-color: #fbd7a7;
    padding: 4rem 8%;
    padding-top: 10px;
    padding-bottom: 7px;
    margin: 0;
}

.knowledge-content {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* space between cards */
    gap: 2rem;
    margin: 0 auto;
    max-width: 1100px;
    /* stack on mobile */
    flex-wrap: wrap;
}

.knowledge h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    margin: 0;
    color: #3b7e9b;
}

.knowledge h4 {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    font-style: italic;
    margin: 0;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #3b7e9b;
    margin-bottom: 0.5rem;
}

.knowledge-text p {
    font-size: 15px;

    text-align: left;
    /* removes default top margin */
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    flex: 1;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.skill-card {
    flex: 1;
    max-width: 300px;
    min-width: 250px;
}

.skill-icon {
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon img {
    width: 60px;
    height: 60px;
}

.projects {
    background-color: #5cb2af;
    padding: 4rem 8%;
    padding-top: 10px;
    padding-bottom: 7px;
    margin: 0;
    text-align: center;
}

.contact {
    background-color: #FFC198;
    padding: 4rem 8%;
    padding-top: 10px;
    padding-bottom: 7px;
    margin: 0;
    text-align: center;
}

.contact-form {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    /* centering the form container horizontally */
    margin: 10 auto;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #fff;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.about-text,
.goals-text,
.hobbies-text {
    /* takes up remaining space */
    flex: 1;
    margin: 0;
    margin-bottom: 1.5rem;
}

.about-me h2,
.goals h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    font-style: italic;
    margin: 0;
    text-align: left;
    font-weight: 300;
    color: #ece9e9;
    margin-bottom: 0.5rem;
}


.about-text p,
.hobbies-text p {
    font-size: 18px;
    text-align: left;
    /* removes default top margin */
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    flex: 1;
}

hr.small {
    width: 180px;
    border: 1px solid white;
    margin: 0 auto 3rem auto;
}

