#navbar {
    overflow: hidden;
    background-color: lightblue;
    padding: 6px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;


}

#navbar a,
#logo {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
}

#logo {
    font-size: 17px;
    font-weight: bold;
    transition: 0.4s
}

#navbar a:hover {
    background-color: #E2A9DB;
    color: black;
}

#navbar a:active {
    background-color: dodgerblue;
}

#navbar-right {
    float: right;
}

.header {
    background-image: url('https://wallpapercave.com/wp/wp9393115.jpg');
    /* background-image: url('https://cdn.shopify.com/s/files/1/0475/8513/2708/files/sebastien-gabriel--imlv9jlb24-unsplash-1.jpg?v=1734059829'); */
    /* covers the entire header */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 240px;

    /* centering text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    flex-direction: column;
    color: white;

}


.display-name {
    font-size: 48px;
    /* removes default h1 margin */
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Abril Fatface', cursive;
}

.sub-title {
    font-size: 21px;
    /* removes default h4 margin */
    margin: 0;
    font-weight: 300;
}

html,
body {
    margin: 0;
    padding: 0;

}

.about-me {
    /* margin-top: 0px; */
    background-color: #FFC198;
    /* align-items: center; */
    padding: 4rem 8%;
    margin: 0;
}

.goals {
    /* margin-top: 0px; */
    background-color: rgb(108, 193, 224);
    /* align-items: center; */
    gap: 1.5rem 8% 3rem 8;
    margin: 0;
    padding-bottom: 200px;

}

.about-me h2,
.goals h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    font-style: italic;
    margin: 0;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #ece9e9;
    margin-bottom: 0.5rem;
   

}


.about-content {
    display: flex;
    /* lines up top of text and image */
    align-items: flex-start;
    /* space between text and image */
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.goals-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.hobbies-content {
    display: flex;
    /* lines up top of text and image */
    align-items: flex-start;
    /* space between text and image */
    gap: 3rem;
    margin: 0 auto;
    max-width: 1100px;
}

.about-text,
.goals-text,
.hobbies-text {
    /* takes up remaining space */
    flex: 1;
    margin: 0;
    margin-bottom: 1.5rem;
}

.about-text p,
.goals-text p,
.hobbies-text p {
    font-size: 18px;
    text-align: left;
    /* removes default top margin */
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    flex: 1;
}

.about-content img {
    height: auto;
    width: 300px;
    border-radius: 50%;
    border: 15px #FFE100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    /* prevents image from shrinking */
    flex-shrink: 0;

}


.goals-content img{
    height: auto;
    width: 200px;
    /* prevents image from shrinking */
    flex-shrink: 0;
    
}


